/* .container {
  text-align: center;
} */

/* .container div {
  display: inline-block;
  padding: 20px;
  width: 20vw;
} */

.rbc-label-start {
  font-family: fontawesome;
  font-weight: bold;
  font-size: 40px;
}

.rbc-center-text {
  font-family: "Roboto", "Myriad Set Pro", "Lucida Grande", "Helvetica Neue",
    Helvetica, Arial;
  fill: black;
}
