# Django #
*.log
*.pot
*.pyc
__pycache__

# Mac #
.DS_store

.idea/

Risk_Analysis/authentication/credentials.json

Risk_Analysis/templates/index.html

Risk_Analysis/db.sqlite3

Risk_Analysis/Risk_Analysis/secrets.py

Risk_Analysis/key.key

model

Risk_Analysis/scoring/Tokenizer.pkl
Risk_Analysis/scoring/.RNN_Model.h5.icloud
Risk_Analysis/scoring/.RNN_Model.pkl.icloud
Risk_Analysis/scoring/.RNN_Model69.h5.icloud

# dependencies
dashboard/node_modules
/.pnp
.pnp.js

# testing
dashboard/coverage

# production
dashboard/build

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

dashboard/npm-debug.log*
dashboard/yarn-debug.log*
dashboard/yarn-error.log*

